<!--The content below is only a placeholder and can be replaced.-->
<div style="margin-top: 50px;">
</div>
<div style="float: left; clear: both; margin-left: 15px;">
  <h1 style="text-align:center">
    Life Game
  </h1>
  <h3 style="margin-left: 30px">
    Description
  </h3>
  <ul>
    <li style="color: green">Birth: The cell is surrounded by 3 cells</li>
    <li style="color: green">Live: The cell is surrounded by 2 or 3 cells</li>
    <li style="color: red">Depopulation: The cell is surrounded by less than 1 cell</li>
    <li style="color: red">Over population: The cell is surrounded by more than 4 cells</li>
  </ul>
</div>
<div>
  <app-board></app-board>
</div>
<footer style="text-align:center">
  <p>Created by Taizan - 2020.1</p>
</footer>

<router-outlet></router-outlet>
